.venta-block{
    float:left;
    width:100%;
    padding : 50px 0;
  }
  .venta-block {
    background-image: url('/assets/imagenes/ventas.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container{background:#D3D3D3; border-radius: 10px; width: 40%; height: 40%;}
  .venta-sec{padding: 50px 30px; position:relative;}
  .venta-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
  .venta-sec h2:after{content:" "; width:100px; height:5px; background:#6ec6ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-venta{background: #0069c0; color:#fff; font-weight:600;}